<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work</title>

    <style>
        body{
            background-color: black;
            color:white;
        }
    </style>
</head>
<h1>
    Experiencia laboral
</h1>

<div id="content">
    <h3>
        Hola
    </h3>

    <label >
        Soy un subtitulo
    </label>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        <b> blanditiis magnam molestias praesentium excepturi </b> 
        nihil reiciendis doloribus officia quae, asperiores doloremque maiores velit voluptate nemo, 
        em>consequuntur, voluptas impedit nam consectetur</em>.

    </p>
    

    <p>
        Lorem ipsum dolor sit, <del>>amet consectetur adipisicing elit. Enim nostrum assumenda magni</del>,
        architecto beatae laborum nobis libero ullam itaque eos. 
        <mark>< unde debitis ipsa assumenda veritatis quo magni, voluptatem iure!</mark>
    </p>


    <pre>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit commodi dolore ullam dicta corporis odit doloremque quae dolor harum quos, 
        temporibus totam ipsum, 
        voluptates, aliquam voluptate. Voluptatem nesciunt dignissimos quis!
    </pre>

    <code>
        result = int(input('Inser age'))
    </code>

    <a href="Views/e.jpeg" download="" style="color: rgb(41, 190, 88);">
        Abreme 
    </a>

</div>
<body>
    <p>
        <img width="100" src="e.jpeg" alt="Foto de perfil" >

        <br>

        <a href="../index.html" style="color: white;">
            Ir al home 
        </a>

        <br>

        <a href="#footer" style="color: white;">
            Ir a footer 
        </a>

         <br>

        <a href="../about.html" style="color: white;">
            Ir a About 
        </a>

        <br>

        <a href="../contact.html" style="color: white;">
            Ir a contacto  
        </a>

        <br>
        
        <a href="work.html" style="color: white;">
            Ir a CV
        </a>

    </p>
</body>
</html>