<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work</title>

    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

</head>
<h1>
    Experiencia laboral
</h1>

<div id="content">
    <h2 class="prueba">
        Hola
    </h2>
    

    <label class="prueba1" >
        Soy un subtitulo
    </label>

    <p class="my_parag">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        <b> blanditiis magnam molestias praesentium excepturi </b> 
        nihil reiciendis doloribus officia quae, asperiores doloremque maiores velit voluptate nemo, 
        em>consequuntur, voluptas impedit nam consectetur</em>.

    </p>
    

    <p>
        Lorem ipsum dolor sit, <del>>amet consectetur adipisicing elit. Enim nostrum assumenda magni</del>,
        architecto beatae laborum nobis libero ullam itaque eos. 
        <mark>< unde debitis ipsa assumenda veritatis quo magni, voluptatem iure!</mark>
    </p>


    <pre>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit commodi dolore ullam dicta corporis odit doloremque quae dolor harum quos, 
        temporibus totam ipsum, 
        voluptates, aliquam voluptate. Voluptatem nesciunt dignissimos quis!
    </pre>

    <code>
        result = int(input('Inser age'))
    </code>

    <a href="Views/e.jpeg" download="" style="color: rgb(41, 190, 88);">
        Abreme 
    </a>

</div>
<body>
    <div class="enlaces">
        <img width="100" src="e.jpeg" alt="Foto de perfil" >

        <br>

        <a href="../index.html" >
            Ir al home 
        </a>

        <br>

        <a href="#footer" >
            Ir a footer 
        </a>

         <br>

        <a href="../about.html" >
            Ir a About 
        </a>

        <br>

        <a href="../contact.html" >
            Ir a contacto  
        </a>

        <br>
        
        <a href="work.html" >
            Ir a CV
        </a>

    </div>

    <p class="p1" >
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid enim vel, minima voluptatibus earum molestias rem modi!
         Sit officia earum sapiente excepturi odit id? Quis iure alias assumenda nulla asperiores.
    </p>

    <br>

    <p class="my_p_w_shadow">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sapiente ipsa atque fugit perferendis aliquid minima, mollitia minus repellendus, et facilis tempora. 
        Id expedita cupiditate dicta velit excepturi corporis voluptatibus.
    </p>

    <div id = "Listas" >

    <h4>
        Habilidades
        <ul>
            <li>
                PHP
            </li>
            <li>
                CSS
            </li>
            <li>
                JavaScript
            </li>
        </ul>
    </h4>
</body>
</html>