@font-face {
    font-family: "myStyle";
    src: url("../fonts/Hey\ Comic.ttf");
}

.my_p_w_shadow{
    text-shadow: green 1px 1px 0px;
    font-family: "myStyle";
}

p{
    text-align: justify;
}


h1,h2{
    font-family:"myStyle";
}

.p1{
    text-align: justify;
    text-decoration: greenyellow wavy underline;
}

.my_parag:hover{
    background-color: red;
    
}

.enlaces:hover{
    background-color: blueviolet;
}

ul li:hover{
    background-color: brown;
    color: white;
}

ul li:first-child{
    background-color: aquamarine;
}

ul li:last-child{
    background-color: powderblue;
}

.prueba{
    background-color: greenyellow;
    border: 5px solid green;
    border-radius: 100 px;
    padding: 8px;
}


.prueba1{
    background-color: rgb(85, 105, 221);
    border: 5px solid rgb(9, 36, 158);
    border-radius: 100 px;
    padding: 3px;
}

